<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Statuspage-Slack Webhook Translator</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="https://unpkg.com/simple-base@0.2.1/dist/simple-base.js"></script>
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        Statuspage-Slack Webhook Translator
      </h1>
    </header>

    <main>
      <p class="bold">Oh hi,</p>
      <p>
        Statuspage webhooks don't currently support case-sensitive URLs, so the initial strategy of just configuring the webhook to be the same endpoint as Slack's, but on this server, doesn't work. Instead, we need to encode the Slack endpoint (which looks something like this):
      </p>
      <code>https://hooks.slack.com/services/T00000000/B00000000/XXXXXXXXXXXXXXXXXXXXXXXX</code>
      <p>
        ... into something fully lowercased. This is done by taking the part of the URL after <pre>/services/</pre> and doing a base36 text encoding. Then we tell this app we need to decode it by routing from a different endpoint. So the literal demo URL above would become:
      </p>
      <code>https://statuspage-slack.glitch.me/encoded/g48i6vdkr5et3zwyjtalyp25dt367a1f98in25qeya8k6ello2tmcw4kx1vyucivmkig</code>
      <p>
        Since it's lowercased, it can be safely fed into Statuspage without being mangled. Use this form (browser code only) to translate a real slack endpoint:
      </p>
      <form id="translatorForm">
        <input id="translatorInput" type="text" maxlength="500" placeholder="https://hooks.slack.com/services/T00000000/B00000000/XXXXXXXXXXXXXXXXXXXXXXXX">
        <button type="submit">Translate</button>
      </form>
      <p>
        Hey, I'm on <a href="https://github.com/NReilingh/statuspage-slack">GitHub</a>.
      </p>
      
    </main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>
