<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Statuspage-Slack Webhook Translator</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="https://unpkg.com/simple-base@0.2.1/dist/simple-base.js"></script>
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        Statuspage-Slack Webhook Translator
      </h1>
    </header>

    <main>
      <p class="bold">Oh hi,</p>
      <p>Statuspage webhooks are pretty cool, (and now they support case-sensitive URLs!) but the hook payloads aren't natively compatible with Slack message hooks, which usually live at an endpoint like this:</p>
      <code>https://hooks.slack.com/services/T00000000/B00000000/XXXXXXXXXXXXXXXXXXXXXXXX</code>
      <p>This app acts as a translation proxy for Statuspage.io webhooks. All you have to do is create a new Slack webhook, and then change the domain name to match this one.</p>
      <code>https://statuspage-slack.glitch.me/services/T00000000/B00000000/XXXXXXXXXXXXXXXXXXXXXXXX</code>
      <p>Here, you can even use this form to do it for you:</p>
      <form id="translatorForm">
        <input id="translatorInput" type="text" maxlength="500" placeholder="https://hooks.slack.com/services/T00000000/B00000000/XXXXXXXXXXXXXXXXXXXXXXXX">
        <button type="submit">Translate</button>
      </form>
      <p>Once you've got the proxied URL (that points to this app), you can feed it to Statuspage's webhook subscription form, like this:</p>
      <img src="https://cdn.glitch.com/3410e728-958f-4ed0-b7f1-3baa37e614ba%2Fhook-sub-example.png?1554744140455" alt="a screenshot of the Statuspage.io webhook notification subscription form with example data showing the use of this app's domain" />
      <p>After you're signed up, you can manage your subscription as usual with the confirmation email you receive. If you want to customize the translation, feel free to remix/fork this project, and/or submit PRs to the <a href="https://github.com/NReilingh/statuspage-slack">GitHub repo</a>!</p>
      <p>P.S. Please give me a star on GitHub if you use this!</p>
    </main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>
